pkgbase = ros-noetic-common-msgs
	pkgdesc = ROS - common_msgs contains messages that are widely used by other ROS packages.
	pkgver = 1.12.7
	pkgrel = 1
	url = https://wiki.ros.org/common_msgs
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-message-generation
	source = ros-noetic-common-msgs-1.12.7.tar.gz::https://github.com/ros/common_msgs/archive/1.12.7.tar.gz
	sha256sums = a9d8c7655d426afe8bc2b021e0bc8ce25dae70ca35b985a0ec0b8b5768722bd4

pkgname = ros-noetic-actionlib-msgs
	pkgdesc = ROS - actionlib_msgs defines the common messages to interact with an action server and an action client.
	url = https://wiki.ros.org/actionlib_msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-std_msgs

pkgname = ros-noetic-common-msgs
	pkgdesc = ROS - common_msgs contains messages that are widely used by other ROS packages.
	url = https://wiki.ros.org/common_msgs
	depends = ros-noetic-actionlib-msgs
	depends = ros-noetic-diagnostic-msgs
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-nav-msgs
	depends = ros-noetic-sensor-msgs
	depends = ros-noetic-shape-msgs
	depends = ros-noetic-stereo-msgs
	depends = ros-noetic-trajectory-msgs
	depends = ros-noetic-visualization-msgs

pkgname = ros-noetic-diagnostic-msgs
	pkgdesc = ROS - This package holds the diagnostic messages which provide the standardized interface for the diagnostic and runtime monitoring systems in ROS.
	url = https://wiki.ros.org/diagnostic_msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-std_msgs

pkgname = ros-noetic-geometry-msgs
	pkgdesc = ROS - geometry_msgs provides messages for common geometric primitives such as points, vectors, and poses.
	url = https://github.com/ros/common_msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-std_msgs

pkgname = ros-noetic-nav-msgs
	pkgdesc = ROS - nav_msgs defines the common messages used to interact with the navigation stack.
	url = https://wiki.ros.org/nav_msgs
	depends = ros-noetic-actionlib-msgs
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-std_msgs

pkgname = ros-noetic-sensor-msgs
	pkgdesc = ROS - This package defines messages for commonly used sensors, including cameras and scanning laser rangefinders.
	url = https://wiki.ros.org/sensor_msgs
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-std_msgs

pkgname = ros-noetic-shape-msgs
	pkgdesc = ROS - This package contains messages for defining shapes, such as simple solid object primitives (cube, sphere, etc), planes, and meshes.
	url = https://wiki.ros.org/shape_msgs
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-std_msgs

pkgname = ros-noetic-stereo-msgs
	pkgdesc = ROS - stereo_msgs contains messages specific to stereo processing, such as disparity images.
	url = https://wiki.ros.org/stereo_msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-sensor-msgs
	depends = ros-noetic-std_msgs

pkgname = ros-noetic-trajectory-msgs
	pkgdesc = ROS - This package defines messages for defining robot trajectories.
	url = https://wiki.ros.org/trajectory_msgs
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-rosbag-migration-rule
	depends = ros-noetic-std_msgs

pkgname = ros-noetic-visualization-msgs
	pkgdesc = ROS - visualization_msgs is a set of messages used by higher level packages, such as rviz, that deal in visualization-specific data.
	url = https://wiki.ros.org/visualization_msgs
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-message-runtime
	depends = ros-noetic-std_msgs

